/*
    Autorský soubor
    Autor: Jakub Smejkal, Klára Formánková
*/

:root {
    --font: Arial, Helvetica, sans-serif;
    --main-header-font-size: 25px;
    --card-max-width: 700px;
    --icons-font-size: 20px;
    --buttons-background-color: #17a2b8;
    --buttons-border-color: #17a2b8;
}

* {
    font-family: var(--font);
}
/* card style */
.card {
    max-width: var(--card-max-width);
    margin: 60px auto;
}
/* main header */
.zasilkarna {
    font-size: var(--main-header-font-size);
    margin: auto;
}
/* common style */
p {
    margin-top: 0;
}
.row.filename {
    margin: auto;
    height: 100%;
    margin-bottom: 0.1rem;
}
div.row {
    margin: auto;
    margin-left: 0px;
}
i.bi {
    font-size: var(--icons-font-size);
}
.btn.btn-info {
    background-color: var(--buttons-background-color);
    border-color: var(--buttons-border-color);
}

@media only screen and (max-width: 300px) {
    .icons .btn-info {
        margin-left: 10px;
    }
  }
